<ion-header>

    <ion-toolbar>

        <img src="assets/img/Logo.png" height=100px width=100px>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="completo">
        <ion-row class="completo ion-align-items-center">
            <ion-col size="10" offset="1">
                <ion-row>
                    <ion-col>
                        <H1>Numeros de contacto</H1>
                        <h1>Linea1: 912345678</h1>
                        <h1>Linea2: 912345678</h1>
                        <h1>Linea3: 912345678</h1>
                        <h1>Helpmed@ayuda.cl</h1>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="3" offset="1">
                <ion-button href="notas" color="danger" expand="block" size="" href="menu-principal">
                    Volver
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
